:root {
  --body-color: ;
  --screen: rgb(196, 190, 187);
  --bezel: rgb(39, 41, 41);
  --highlight: rgba(255, 255, 255, 0.1);
  --body-text:rgba(22, 22, 22, 0.5);
}

@font-face {
  font-family: PokemonGb-RAeo;
  src: url(./assets/font/PokemonGb-RAeo.ttf);
}

body {
  background-color: var(--body-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  font-size: 2vh;
}

.empty-space {
  display: flex;
  z-index: 1;
  width: 20%; 
  height: 100%;
  background-color: black;
}

.highlight1 {
  display: flex;
  position: absolute;
  left: 12%;
  width: 20%;
  height: 100%;
  background-color: var(--highlight);
}

.highlight2 {
  display: flex;
  position: absolute;
  left: 68%;
  width: 20%;
  height: 100%;
  background-color: var(--highlight);
}

.comms-input {
  display: flex;
  z-index: 2;
  position: absolute;
  color: var(--body-text);
  left: 35%;
  top: 0;
  padding: 0.5% 0 0 0;
  font-size: 2.5vh;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.25);
}

.screen-bezel {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 50%; 
  height: 80vh; 
  background-color: var(--bezel);
  border-radius: 5% 5% 50% 50% / 5% 5% 3% 3%;
}

.power-led {
  position: absolute;
  left: 29.5%;
  top: 40%;
  height: 2vh;
  width: 2vh;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%); 

}

.glow {
  color: red;
  box-shadow: 0px 0px 20px red;
}

.power-led-parenthesis {
  position: absolute;
  left: 31%;
  top: 38.8%;
}

.power-led-text {
  position: absolute;
  left: 29%;
  top: 42%;

}

.power-led-text, .power-led-parenthesis {
  font-size: 2vh;
  color: white;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  background-color: var(--screen);
  font-family: pokemonGb-RAeo;
  font-weight: bold;
}

.gameboy-logo {
  display: flex;
  position: absolute;
  color: var(--screen);
  font-style: italic;
  bottom: 12%;
  font-size: 4vh;
  font-weight: bold;
}

.gameboy-logo span {
  font-style: normal;
}

.c {
  color: rgb(157, 12, 70);
}

.o {
  color: rgb(110, 112, 175);
}

.l {
  color: rgb(137, 172, 67);
}

.second-o {
  color: rgb(209, 175, 44);t
}

.r {
  color: rgb(27, 147, 137);
}

.game-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 130%;
  height: 80%;

}

.bottom-menu {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  margin-top: auto;
  height: 20%;
  width: 100%;
  border-top: solid 0.35vh black;
}

.left-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: solid 0.35vh black
}

.right-menu {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.game-space-top,
.game-space-bottom {
  display: flex;
  flex-direction: row;
  height: 45%;
  width: 100%;
  box-sizing: border-box;
}

.game-space-top-left,
.game-space-top-right,
.game-space-bottom-left,
.game-space-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.pokemon {
  margin: 0;
  padding: 0;
  height: 100%;
  object-fit: contain;
}

.game-space-text {
  position: absolute;
  margin: 0;
  padding: 1%;
  height: fit-content;
}

.game-space-text-about {
  margin: 0;
  padding: 3%;
  height: fit-content;
}


.current-event-text {
  position: absolute;
  height: 50%;
  margin: 0;
}

.user-stats {
  margin-left: -70%;
  margin-bottom: -20%;
}

.computer-stats {
  margin-right: -70%;
}

#computer-hp-text, 
#hp-text {
  display: none;
}
